## Load some data

In [1]:
import pandas as pd

df = pd.read_csv("data/people.csv")
df.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url,person_no
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"['https://swapi.dev/api/films/1/', 'https://sw...",[],"['https://swapi.dev/api/vehicles/14/', 'https:...","['https://swapi.dev/api/starships/12/', 'https...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/,1
1,C-3PO,167,75,NaN,gold,yellow,112BBY,NaN,https://swapi.dev/api/planets/1/,"['https://swapi.dev/api/films/1/', 'https://sw...",['https://swapi.dev/api/species/2/'],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/,2
2,R2-D2,96,32,NaN,"white, blue",red,33BBY,NaN,https://swapi.dev/api/planets/8/,"['https://swapi.dev/api/films/1/', 'https://sw...",['https://swapi.dev/api/species/2/'],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/,3
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,https://swapi.dev/api/planets/1/,"['https://swapi.dev/api/films/1/', 'https://sw...",[],[],['https://swapi.dev/api/starships/13/'],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,https://swapi.dev/api/people/4/,4
4,Leia Organa,150,49,brown,light,brown,19BBY,female,https://swapi.dev/api/planets/2/,"['https://swapi.dev/api/films/1/', 'https://sw...",[],['https://swapi.dev/api/vehicles/30/'],[],2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,https://swapi.dev/api/people/5/,5

## Use production cleaning function

In [2]:
from processing import clean_people

clean_people(df).head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,species,created,edited,person_no
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.000000,male,[],2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,1
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.000000,NaN,['https://swapi.dev/api/species/2/'],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,2
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.000000,NaN,['https://swapi.dev/api/species/2/'],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,3
3,Darth Vader,202.0,136.0,None,white,yellow,41.900002,male,[],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,4
4,Leia Organa,150.0,49.0,brown,light,brown,19.000000,female,[],2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,5

## Why is the source code managed version of the function better?
Because it is [type checked and tested](https://github.com/edvardlindelof/notebooks-vs-src/actions/runs/18378787946)